<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DaxxnLoggerLibrary" version="1.5.5" targetFramework="net461" />
  <package id="JsonReaderLibrary" version="1.1.1" targetFramework="net461" />
  <package id="MVVMLibrary" version="1.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="SettingsLibrary" version="2.2.1" targetFramework="net461" />
</packages>